@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Diphylleia&family=Encode+Sans:wght@200;400;600&family=Montserrat:wght@500&family=Nunito:wght@800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.ftd-title {
    font-family: 'Diphylleia', serif;
    font-size: 20px;
    color: rgb(130, 174, 70);
    margin-top: 40px;
    text-align: center;
}

.ftd-subtitle {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: 40px;
    text-align: center;

}

.ftd-p {
    margin-top: 30px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

}

.ftd-products{

    padding: 50px;
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
    
}