/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .sct-title {
        font-family: var(--amatic);
        text-align: center;
        padding: 20% 10%;
        color: var(--white-color);
        background-image: url('https://images.unsplash.com/photo-1596776572010-93e181f9fc07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .sct-title h1 {
        font-size: 5em;
        font-weight: 400;
    }

    .sct-title h4 {

        font-family: var(--encode);
        font-weight: 400;
        font-size: 0.9em;
        letter-spacing: 0.1em;
    }

    .sct-title button {
        color: var(--white-color);
        margin: 1%;
        padding: 0.5em 0.8em;
        font-family: var(--encode);
        border-style: none;
        background-color: var(--green-color);
        border-radius: 1.5em;
    }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
    .sct-title {
        font-family: var(--amatic);
        text-align: center;
        padding: 15% 0%;
        color: var(--white-color);
        height: 600px;
        background-image: url('https://images.unsplash.com/photo-1596776572010-93e181f9fc07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .sct-title h1 {
        font-size: 100px;
        font-weight: 400;
        margin: 50px 0px 0px 0px;
    }

    .sct-title h4 {

        font-family: var(--encode);
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 3px;
    }

    .sct-title button {
        color: var(--white-color);
        margin: 1%;
        padding: 5px 10px;
        font-family: var(--encode);
        border-style: none;
        background-color: var(--green-color);
        border-radius: 20px;
    }
}

/* Estilos para pantallas más grandes (escritorio) */
@media (min-width: 1024px) {
    .sct-title {
        font-family: var(--amatic);
        text-align: center;
        padding: 15% 0%;
        color: var(--white-color);
        height: 600px;
        background-image: url('https://images.unsplash.com/photo-1596776572010-93e181f9fc07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .sct-title h1 {
        font-size: 100px;
        font-weight: 400;
        margin: 50px 0px 0px 0px;
    }

    .sct-title h4 {

        font-family: var(--encode);
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 3px;
    }

    .sct-title button {
        color: var(--white-color);
        margin: 1%;
        padding: 5px 10px;
        font-family: var(--encode);
        border-style: none;
        background-color: var(--green-color);
        border-radius: 20px;
    }
}