@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Diphylleia&family=Encode+Sans:wght@200;400;600&family=Montserrat:wght@500&family=Nunito:wght@800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.sct-best-price{
    padding: 80px 100px 30px 650px;
    height: 600px;
}

.bp-calendar{
    display: flex;
    list-style: none;

}
.bp-subtitle{
    font-family: 'Diphylleia', serif;
    font-size: 20px;
    color: rgb(130, 174, 70);
    font-weight: 800;
}
.bp-title{
    margin: 25px 0px 40px 0px;
    font-family: 'Encode Sans',sans-serif;
    font-weight: 700;
}
.bp-p{
    font-family: 'Encode Sans',sans-serif;
    color: rgb(147, 148, 150);
    font-size: 16px;
    font-weight: 600;
}
.bp-item{
    font-family: 'Diphylleia', serif;
    font-size: 48px;
    color: rgb(130, 174, 70);
    font-weight: 400;
}
.bp-old-price {
    text-decoration-line: line-through;
    font-size: 25px;
    font-weight: 400;
    color: grey;
    margin: 5px 20px;
}

.bp-price {
    font-size: 25px;
    font-weight: 700;
    color: rgb(130, 174, 70);

}
.bp-li{
    width: 120px;
}
.bp-number{
    font-family: 'Diphylleia',serif;
    color: rgb(130, 174, 70);
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.bp-text{
    text-align: center;
}