@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Encode+Sans:wght@600&family=Montserrat:wght@500&family=Nunito:wght@800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* ------------------------------------Mobile--------------------------------- */

@media (max-width: 767px) {


    .head-sct-banner {
        width: 100%;
        font-family: var(--encode);
        font-size: 0.45em;
        font-weight: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3em;
        background-color: var(--green-color);
    }

    .menu {

        display: none;

    }

    .contact {
        color: var(--white-color);
        text-align: center;
        margin: 2%;
    }

    .toggle-button {
        border-style: none;
        font-size: 1.2em;
        background-color: var(--green-color);
        color: var(--white-color);
    }


    .head-menu {
        font-family: var(--encode);
        font-weight: 700;
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(1, 0.5fr);
        max-width: 100%;
        padding: 0.4em;

    }

    .menu.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
    }

    .head-ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .head-li {
        font-size: 1em;
        padding: 1em;
    }

    .head-li a {
        text-decoration: none;
        color: black;
    }


    .btn-cart {
        border-style: none;
        background-color: white;
    }



    .logo {
        font-family: var(--black-han-sansa);
        font-weight: 700;
        font-size: 1em;
        text-align: center;
        color: var(--green-color);
    }
}






/* ------------------------------------Tablets--------------------------------- */

@media (min-width: 768px) and (max-width: 1023px) {
    .toggle-button {
        display: none;
    }

    .head-sct-banner {
        width: 100%;
        font-family: var(--encode);
        font-size: 0.56em;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2em;
        background-color: var(--green-color);
    }

    .contact {
        color: var(--white-color);
        text-align: center;
        margin: 8%;
    }

    .head-menu {
        font-family: var(--encode);
        font-weight: 700;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 6em;
    }

    .menu {
        width: 80%;
    }

    .head-ul {
        margin: 0;
        padding: 0em 6em;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head-li {
        font-size: 0.8em;
        text-align: center;
        transition: 0.5s;
        padding: 0.5em;
    }

    .head-li a {
        text-decoration: none;
        color: black;
    }


    .btn-cart {
        border-style: none;
        background-color: white;
    }

    .logo {
        margin: 0;
        font-family: var(--black-han-sansa);
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
        color: var(--green-color);
    }
}



/* ------------------------------------Pantallas de escritorio--------------------------------- */
@media (min-width: 1024px) {
    .toggle-button {
        display: none;
    }

    .head-sct-banner {
        width: 100%;
        font-family: var(--encode);
        font-size: 0.7em;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2em;
        background-color: var(--green-color);
    }

    .contact {
        color: var(--white-color);
        text-align: center;
        margin: 8%;
    }

    .head-menu {
        font-family: var(--encode);
        font-weight: 700;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 6em;
    }

    .menu {
        width: 60%;
    }

    .head-ul {
        margin: 0;
        padding: 0em 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    .head-li {
        font-size: 0.8em;
        text-align: center;
        transition: 0.5s;
        padding: 0.5em;
    }

    .head-li:hover {
        transform: scale(1.15);
    }

    .head-li a {
        text-decoration: none;
        color: black;
    }

    .btn-cart {
        border-style: none;
        background-color: white;
    }

    .logo {
        margin: 0;
        font-family: var(--black-han-sansa);
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
        color: var(--green-color);
    }
}