

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .shop-card {
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        margin-bottom: 1em;
        padding: 50% 0% 0% 0% ;
    }
    
    .shop-card label{
        font-size: 0.6em;
        letter-spacing: 0.1em;
        font-family: var(--encode);
        background-color: var(--green-color);
        color: var(--white-color);
        padding: 0.2em 0.8em;
    }
  }
  
  /* Estilos para tabletas */
  @media (min-width: 768px) and (max-width: 1023px) {
    .shop-card {
        padding: 50% 0% 0% 0% ;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        margin-bottom: 1em;
    }
    
    .shop-card label{
        font-size: 0.9em;
        letter-spacing: 0.1em;
        font-family: var(--encode);
        background-color: var(--green-color);
        color: var(--white-color);
        padding: 0.2em 0.8em;
    }
  }
  
  /* Estilos para pantallas más grandes (escritorio) */
  @media (min-width: 1024px) {
    .shop-card {
        padding: 50% 0% 0% 0% ;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        transition: 1s;
        margin-bottom: 1em;
    }
    
    .shop-card label{
        font-family: var(--encode);
        background-color: var(--green-color);
        color: var(--white-color);
        padding: 0.2em 0.8em;
    }
    .shop-card:hover {
        transform: scale(1.05);
    }
  }
