
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .shop{
        max-width: 100%;
        display: grid;
        grid-template-rows: repeat(1,1fr) ;
        align-items: center;
        margin: 1em;
       
    }
    .categories{
        width: 100%;
        padding: 0% 10%;
        height: 100%;
    }
    .categories:nth-child(1){
        grid-row: 2;
    }
    .categories:nth-child(2){
        grid-column: 1;
    }
    .shop-center{
        padding: 6em 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position-y: 90%;
        background-position-x: 60%;
        text-align: center;
        margin-bottom: 1em;
    }
    .text{
        font-family: var(--encode);
        font-size: 1em;
        padding:  0em 0.5em;
    }
    .vegetables{
        color: var(--green-color);
        font-size: 2em;
        font-family: var(--diphylleia);
    }
    .shop-center button{
        background-color: var(--green-color);
        border-style: none;
        border-radius: 1.5em;
        padding: 0.3em 1em;
        margin: 0% 20%;
        color: var(--white-color);
        font-size: 0.8em;
        font-weight: 600;
    }
  }
  
  /* Estilos para tabletas */
  @media (min-width: 768px) and (max-width: 1023px) {
    .shop{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3,0.5fr);
        justify-content: space-between;
        align-items: center;
        margin: 1em;
       
    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        height: 100%;
    }
    .shop-center{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position-y: 90%;
        background-position-x: 60%;
        text-align: center;
        margin-bottom: 1em;

    }
  

    .text{
        font-family: var(--encode);
        font-size: 0.9em;
        padding:  0em 0.5em;
    }
    .vegetables{
        color: var(--green-color);
        font-size: 2em;
        font-family: var(--diphylleia);
    }
    .shop-center button{
        background-color: var(--green-color);
        border-style: none;
        border-radius: 1.5em;
        padding: 0.3em 1em;
        margin: 0% 25%;
        color: var(--white-color);
        font-size: 0.8em;
        font-weight: 600;
    }
  }
  
  /* Estilos para pantallas más grandes (escritorio) */
  @media (min-width: 1024px) {
    .shop{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3,0.5fr);
        justify-content: space-between;
        align-items: center;
        margin: 1em;
       
    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        height: 100%;
    }
    .shop-center{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        background-position-y: 90%;
        background-position-x: 60%;
        text-align: center;
        margin-bottom: 1em;

    }
    .text{
        font-family: var(--encode);
        font-size: 1.5em;
    }
    .vegetables{
        color: var(--green-color);
        font-size: 3em;
        font-family: var(--diphylleia);
    }
    .shop-center button{
        background-color: var(--green-color);
        border-style: none;
        border-radius: 1.5em;
        padding: 0.3em 1em;
        margin: 0% 35%;
        color: var(--white-color);
        font-size: 1em;
        font-weight: 600;
        transition: 0.5s;
    }
    
    .shop-center button:hover {
        transform: scale(1.15);
    }
    
  }
