@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Black+Han+Sans&family=Diphylleia&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --green-color: rgba(130, 174, 70,1);
    --white-color: rgba(237, 236, 234,1);
    --diphylleia: 'Diphylleia', serif;
    --amatic: 'Amatic SC', cursive;
    --encode: 'Encode Sans', sans-serif;
    --black-han-sans: 'Black Han Sans', sans-serif;
    --gray-color: rgb(147, 148, 150);
}
*{
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 16px;
}

header {
    width: 100%;
}